.payment-card{
    width: 400px;
    background-color: #fff;
    border-radius: 9px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.payment-card h1{
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
    font-weight: 800;
}
.payment-header{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}
.payment-header h5{
    color: gray;
    font-size: 1rem;
    font-weight: 800;
}
.transaction-details{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.transaction-name{
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
   
}
.name{
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}
.payment-bottom{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.payment-bottom h5{
    color: gray;
    font-size: 1rem;
    font-weight: 800;

}


.transaction-details {
    position: relative;
  }
  
  .transaction-details::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; /* Adjust the positioning to add some top margin */
    height: 1px;
    background-color: rgba(120, 114, 114, 0.486);
  }