button{
    background-color:rgb(38, 102, 239);
    width:200px;
    color: white;
    font-weight: bold;
    height: 3rem;
    border-radius: 9px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}